@{
    ViewData["Title"] = "Finished The Test";
    Layout = "~/Views/Participant/ParticipantLayout/ParticipantLayout.cshtml";
}

<div class="content-wrapper bg-white mx-auto px-5">
    <div class="shadow-sm border rounded text-center bg-info bg-gradient my-5 p-3">
        <h3>
            Tidak Ada Test Saat Ini
        </h3>
    </div>
</div>



@section script{
}
