@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/DoTest/TestLayout/OneQuestionLayout.cshtml";
}

<div id="questionContainer">
    <!-- Isi pertanyaan dan pilihan ganda akan diisi melalui JavaScript -->
</div>


@section script{
    <!-- Script eksternal Test -->
    <script src="~/js/Participant/PapiKostick.js"></script>
    <script src="~/js/Participant/DoTest.js"></script>
}