@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Admin/Participant/Result/Layout/Layout.cshtml";
}
@section style{
    <style>

    </style>
}

<div class="card-body">

    <div class="row">
        <div class="col-md-12">
            <div class="card my-column" style="height: 50%; background-color: #f2f2f2;">
                <div class="card-body text-center" style="display: flex; flex-direction: column; justify-content: center;">
                    <!-- Menggunakan text-center untuk mengatur teks ke tengah -->
                    <h2 class="card-title"> HASIL TES MINAT (RMIB) </h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Untuk DAta personal dan screenshot-->

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <table class="table dt-responsive nowrap table-sm table-striped" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <tr>
                            <th>Nama</th>
                            <td id="Nama">John Doe</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td id="Email">johndoe@example.com</td>
                        </tr>
                        <tr>
                            <th>NIK</th>
                            <td id="NIK">1234567890</td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <table class="table dt-responsive nowrap table-sm table-striped" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <tr>
                            <th>Usia</th>
                            <td id="usia">23 tahun 6 bulan 1 hari</td>
                        </tr>
                        <tr>
                            <th>Jenis Kelamin</th>
                            <td id="gender">Perempuan / Laki-laki</td>
                        </tr>
                        <tr>
                            <th>Telepon</th>
                            <td id="Telp">08123456789</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center" style="background: #f2f2f2;  margin: 0; height: 30px;  display: flex; align-items: center; justify-content: center;"> Pengambilan Gambar Wajah </div>
                <div class="card-body" style="max-height: 150px; overflow: auto;display: flex; align-items: center; justify-content: center;">
                    @*<img src="/image/facecapturing/qwewefwv-1693369859484.jpg" alt="Screenshot" style="height: 75px; border-radius: 5%; text-align: center;">*@
                    <img id="Screenshot" alt="Screenshot" style="height: 75px; border-radius: 5%; text-align: center;">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display:none;" id="violation">
        <div class="col-md-12">
            <div class="card" style="box-shadow:none;">
                <div class="card-header text-center" style="background: #8B0000; margin: 0; color: white; height: 70px; padding: 5px;  width: 100%;  display: flex; align-items: center; justify-content: center;">
                    <div class="card-body text-center" style="display: flex; flex-direction: column; justify-content: center;">
                        <h2 id="headerfinalscore" class="card-title" style="font-size: 18px;"><strong><i class="fas fa-exclamation-triangle"></i> VIOLATION</strong><br /> Peserta terdeteksi membuka tab atau window baru atau aplikasi lain sebanyak <span id="totalviolation"></span> kali saat tes berlangsung.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="invalid">
    </div>

    <div class="row" style="display:none;" id="safe">
        <div class="col-md-12">
            <div class="card" style="box-shadow:none;">
                <div class="card-header text-center" style="background: #005B41; margin: 0; color: white; height:70px; padding: 5px;  width: 100%;  display: flex; align-items: center; justify-content: center;">
                    <div class="card-body text-center" style="display: flex; flex-direction: column; justify-content: center;">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <h2 id="headerfinalscore" class="card-title" style="font-size: 18px;"><strong> SAFE</strong><br />Peserta mengikuti tes dengan baik dan benar.</h2>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" id="valueRmib" style="display:none;">

        <div class="col-md-8">
            <div class="card" id="rmibChart" style="box-shadow:none;">
                <br />
                <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                        </div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                        <div style="position:absolute;width:200%;height:200%;left:0; top:0">
                        </div>
                    </div>
                </div>
                <canvas id="myChart" width="619" height="361" style="display: block; height: 300px; width: 200px;" class="chartjs-render-monitor"></canvas>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card" style="box-shadow:none;">
                <br />
                <img src="~/image/Result_assets/brain_assets_2.png" alt="IST" style="width: auto; height: auto;">
            </div>
        </div>


        <div class="col-md-12">
            <div class="card" style="box-shadow:none">
                <div class="card-header text-center" style="background: #5e6ee6; margin: 0; color: white; height: 50px; padding: 5px;  width: 100%;  display: flex; align-items: center; justify-content: center;">
                    <h2 style="font-size: 18px;"><strong> REKOMENDASI AREA MINAT</strong></h2>
                </div>

                <div class="card-body">
                    <div id="minat-bakat1">
                        <b></b>
                        <p style="text-align: justify;"></p>
                    </div>
                    <hr style=" border: none; border-top: 1px solid #ccc; margin: 10px 0;">
                    <div id="minat-bakat2">
                        <b></b>
                        <p style="text-align: justify;"></p>
                    </div>
                    <hr style=" border: none; border-top: 1px solid #ccc; margin: 10px 0;">
                    <div id="minat-bakat3">
                        <b></b>
                        <p style="text-align: justify;"></p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="row" id="forButton">
        <div class="col-12">
            <button class="bg-primary" id="downloadPage">download hasil tes</button>
        </div>
    </div>

</div>
