@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Login/Layout/LoginLayout.cshtml";
}
@section style{
    <style>
      body {
        width: 100%;
      }

      .container-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
      }

      .box-one {
        background-color: #fffef6;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-image: url("/svg/bg-login.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .box-one-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .logo {
        padding: 70px;
        text-align: center;
      }

      .text-hrd {
        font-family: "Source Sans Pro";
        font-weight: bold;
        font-size: 1.3vw;
        opacity: 0.8;
      }

      .logo-hrd {
        max-width: 100%;
        height: auto;
      }

      .footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        margin-top: auto;
      }

      .text-footer {
        /* text-transform: uppercase; */
        font-size: 1vw;
      }
      .box-two {
        background-color: #fafafa;
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .login-box {
        width: 50%;
      }

      .login-box .card {
        box-shadow: none !important;
      }

      .login-box .card:has(.card-header):has(.card-body),
      #loading:has(i) {
        background-color: #f8f9fa;
      }

      #loading {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none;
        position: fixed;
      }

      #loading:has(div) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .cardFP{
            border: 1px inherit black;
            padding: 25px;
            border-radius: 15px;
      }

        .h3 {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
        }

        .pfp{
            color: #B6BBC4;
            font-family: 'Poppins', sans-serif;
        }

        .comein{
            color:black
        }

      /*  */
      @@media (max-width: 600px) {
        .container-login {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100vh;
        }

        .box-one,
        .box-two {
          width: 100%;
        }

        .box-one {
          height: 30%;
        }

        .box-two {
          height: 70%;
          background-color: #fffef6;
        }

        .text-hrd {
          font-size: 2vw;
        }

        .logo-hrd {
          width: 50%;
        }

        .login-box {
          width: 70%;
        }

        .card-header a {
          font-size: 1.5rem;
        }
      }

      @@media (max-width: 400px) {
        .login-box {
          width: 80%;
        }
        .text-hrd {
          font-size: 3vw;
        }

        .logo-hrd {
          width: 80%;
        }

        .box-one-container {
          justify-content: initial;
        }

        #loginButton {
          font-size: 0.75rem;
        }
      }

      @@media (max-width: 320px) {
        .text-hrd {
          font-size: 3vw;
        }

        .logo {
          padding: 40px;
        }

        .footer {
          display: none;
        }

        .logo-hrd {
          width: 80%;
        }

        .box-two {
          align-items: initial;
        }

        .box-one-container {
          justify-content: initial;
        }

        #loginButton {
          font-size: 0.55rem;
        }

        .card-header a {
          font-size: 1rem;
        }

        .card-body a {
          font-size: 0.7rem;
        }
        .card-body p {
          font-size: 0.7rem;
        }
        .btn-block {
          height: 25px;
          font-size: 0.55rem !important;
        }
      }
    </style>
}

<div class="container-login">
    <div class="box-one">
        <div class="box-one-container">
            <div class="logo">
                <p class="text-hrd">Psikotes Online</p>
                <img class="logo-hrd" src="~/image/logoBHP_fix.png" alt='PT.Berca Hardayaperkasa'>
            </div>
            <div class="footer">
                <strong class="text-footer">Copyright &copy; 2023 PT. Berca Hardayaperkasa</strong>
            </div>
        </div>

    </div>

    <div class="box-two">
        <div class="login-box">
            <!-- /.login-logo -->
            <div class="card">
                @* <div class="card-header text-left">
                    <a href="#" class="h3"><b>Lupa kata sandi</b></a>
                </div> *@
                <div class="card-body cardFP shadow">
                    <p class="h3">Lupa kata sandi</p>
                    <hr>
                    <p class="text-left pfp">Masukan email anda dan kami akan mengirimkan tautan untuk mereset password </p>
                    <form action="#" method="post" id="forgotPass-form">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email" id="email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-dark btn-block">Kirim email verifikasi</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    <p class="mt-3 mb-1">
                        Sudah punya akun?
                        <a href="/" class="comein">Masuk</a>
                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
<div id="loading" style="width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999; display: none; position: fixed;">
    <div id="loading-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color: white;"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- /.login-box -->
@section script{
    <script src="~/js/forgotPassword.js"></script>

}
