@{
    ViewData["Title"] = "Instruksi Subtes 4";
    Layout = "~/Views/DoTest/TestLayout/MoreQuestionLayout.cshtml";
}
@section style{
    <style>

        #instruksi-subtes4 .card {
            margin-bottom: 0;
        }

            #instruksi-subtes4 .card .row {
                margin-left: 25px;
                margin-right: 25px;
                margin-top: 15px;
            }

                #instruksi-subtes4 .card .row .text-center {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                #instruksi-subtes4 .card .row .text-left {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 16px;
                }

                    #instruksi-subtes4 .card .row .text-left label {
                        margin-right: 10px;
                        text-align: center;
                        flex-grow: 1;
                    }

        #instruksi-subtes4 .akhir {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            color: #777;
        }

        .form-control {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        .contoh-error,
        .contoh-error:focus {
            border: 1px solid red; /* Menambahkan border merah */
        }

        .contoh-error {
            height: 70%;
        }

        .noted {
            margin-top: 10px;
        }

        #warningMessage,
        #warningMessage2 {
            display: none;
            margin-bottom: 0;
        }

        .but-start-ist {
            width: 100%;
        }

            .but-start-ist button {
                padding: 5px 50px;
                text-align: center;
                border-radius: 30px;
                width: fit-content;
                margin: 0 auto;
            }

        .row input[type="radio"] {
            width: 15px;
            height: 15px;
        }

    </style>
}


<!-- Instruksi Subtes 2 IST -->
<div id="instruksi-subtes4" class="instruksi">
    <div class="card">
        <div class="card-header bg-dark">
            <h5 class="card-title" id="cardTitle">
                SUBTES 4
            </h5>
        </div>
        <div class="card-body card-instruksi text-justify">
            <!-- Display instructions and examples here -->
            <h5><strong>Instruksi Pengerjaan:</strong></h5>
            <h6>Pada persoalan berikut ini, di setiap soal akan disajikan DUA kata. Anda diminta menuliskan satu perkataan yang meliputi atau mewakili pengertian kedua kata tadi. Tulislah satu perkataan tersebut pada kotak yang telah disediakan.</h6>
            <h5><strong>Contoh Soal:</strong></h5>
            <div class="card">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <div class="bg-primary p-1 rounded text-white">
                            <!-- style="background-color: #5e6ee6;" -->
                            <p class="card-text font-weight-bold">Contoh 1 </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="text-left" style="display: flex; flex-direction: column; justify-content: center; align-items: left; height: 100%; font-size: 16px;">
                            <strong>
                                Ayam        -       Itik
                            </strong>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <input type="text" id="contoh1" class="form-control " placeholder="Masukkan Jawaban Anda" autocomplete="off">
                        <p id="warningMessage" style="color: red;">tulis kata (burung) pada isian</p>
                    </div>

                    <div class="col-md">
                        <p class="noted">
                            Kata BURUNG dapat meliputi pengertian kedua kata tersebut. Oleh karena itu, pada kotak isian yang telah disediakan tulislah kata <b>Burung</b>.
                        </p>
                    </div>
                </div>
            </div>
            <hr />

            <div class="card">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <div class="bg-primary p-1 rounded text-white">
                            <!-- style="background-color: #5e6ee6;" -->
                            <p class="card-text font-weight-bold">Contoh 2 </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="text-left" style="display: flex; flex-direction: column; justify-content: center; align-items: left; height: 100%; font-size: 16px;">
                            <strong>
                                Gaun        -       Celana
                            </strong>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <input type="text" id="contoh2" class="form-control " placeholder="Masukkan Jawaban Anda" autocomplete="off">
                        <p id="warningMessage2" style="color: red;">tulis kata (pakaian) pada isian</p>
                    </div>
                    <div class="col-md">
                        <p class="noted">
                            Kata PAKAIAN dapat mewakili pengertian kedua kata tersebut. Oleh karena itu, pada kotak isian yang telah disediakan anda dapat menuliskan kata <b>Pakaian</b>.
                        </p>
                    </div>
                </div>
            </div>
            <hr />

            <br />
            <div>
                <h5 style="text-align: center; color: #777;"><strong> Jika telah memahami cara menjawab, silahkan lanjut ke soal Subtes 4</strong> </h5>
            </div>

            <div class="but-start-ist">
                <button id="startSubtest" class="btn btn-block btn-info btn-sm">Mulai Tes</button>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="~/js/Participant/IST.js"></script>

    <!-- Script eksternal Test -->
    <script>
        $(document).ready(function () {
            $("input[id='contoh1']").change(function () {
                var inpVal = $("#contoh1").val();
                if (inpVal.toLowerCase() === "burung") {
                    $("#contoh1").removeClass("contoh-error");
                    $("#warningMessage").hide();
                } else {
                    $("#contoh1").addClass("contoh-error");
                    $("#warningMessage").show();
                }
            });

            $("input[id='contoh2']").change(function () {
                var inpVal = $("#contoh2").val();
                if (inpVal.toLowerCase() === "pakaian") {
                    $("#contoh2").removeClass("contoh-error");
                    $("#warningMessage2").hide();
                } else {
                    $("#contoh2").addClass("contoh-error");
                    $("#warningMessage2").show();
                }
            });

            $("#startSubtest").click(function () {
                const isActiveSubtest = sessionStorage.getItem("indexSubtest");
                var targetUrl = `/dotest/StartTest/ist/subtes${isActiveSubtest}`;

                var inpVal1 = $("#contoh1").val().toLowerCase() === "burung";
                var inpVal2 = $("#contoh2").val().toLowerCase() === "pakaian";

                if (!inpVal1 && !inpVal2) {
                    $("#contoh1").addClass("contoh-error");
                    $("#warningMessage").show();
                    $("#contoh2").addClass("contoh-error");
                    $("#warningMessage2").show();
                    return;
                } else if (!inpVal1) {
                    $("#contoh1").addClass("contoh-error");
                    $("#warningMessage").show();
                    return;
                } else if (!inpVal2) {
                    $("#contoh2").addClass("contoh-error");
                    $("#warningMessage2").show();
                    return;
                }
                window.location.href = targetUrl;
                displaytest(testId, isActiveSubtest);
            });
        });


    </script>
}
