@{
    ViewData["Title"] = "Instruksi Subtes 3";
    Layout = "~/Views/DoTest/TestLayout/MoreQuestionLayout.cshtml";
}
@section style{
    <style>
        .but-start-ist {
            width: 100%;
        }

            .but-start-ist button {
                padding: 5px 50px;
                text-align: center;
                border-radius: 30px;
                width: fit-content;
                margin: 0 auto;
            }

        .row input[type="radio"] {
            width: 15px;
            height: 15px;
        }

        .form-check-input {
            cursor: pointer;
        }

        .form-check-label {
            cursor: pointer;
        }
    </style>
}
        <!-- Instruksi Subtes 3 IST -->
        <div id="instruksi-subtes3" class="instruksi">
            <div class="card" style="margin-bottom: 0">
                <div class="card-header bg-dark">
                    <h5 class="card-title" id="cardTitle">
                        SUBTES 3
                    </h5>
                </div>
        <div class="card-body card-instruksi text-justify">
                    <!-- Display instructions and examples here -->
                    <h5><strong>Instruksi Pengerjaan:</strong></h5>
                    <h6> Pada persoalan berikut ini, di setiap soal akan disajikan DUA kata. Anda diminta menuliskan satu perkataan yang meliputi atau mewakili pengertian kedua kata tadi. Tulislah satu perkataan tersebut pada kotak yang telah disediakan.</h6>
                    <h5><strong>Contoh Soal:</strong></h5>
                    <div class="card">
                        <div class="row" style="margin-left: 25px; margin-right: 25px; margin-top: 15px;">
                            <div class="col-md-2 text-center" style="display: flex; flex-direction: column; justify-content: center;">
                                <div class="bg-primary p-2 rounded text-white">
                                    <p class="card-text font-weight-bold">Contoh 1 </p>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="row">
                                    <div class="text-left" style="display: flex; flex-direction: column; justify-content: center; align-items: left; height: 100%; font-size: 16px;">
                                        <strong>
                                            HUTAN   :   POHON = TEMBOK  :   ....
                                        </strong>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan1" id="batu-bata" value="batu bata">
                                            <label class="form-check-label" for="batu-bata">Batu bata</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan1" id="rumah" value="Rumah">
                                            <label class="form-check-label" for="rumah">Rumah</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan1" id="semen" value="Semen">
                                            <label class="form-check-label" for="semen">Semen</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan1" id="putih" value="Putih">
                                            <label class="form-check-label" for="putih">Putih</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan1" id="dinding" value="Dinding">
                                            <label class="form-check-label" for="dinding">Dinding</label>
                                        </div>
                                </div>
                                <div class="row">
                                    <p id="warningMessage1" style="color: red;display:none">Pilih <strong>Batu Bata</strong></p>
                                </div>
                            </div>
                            <div class="col-md">
                                <p>
                                    Hubungan antara hutan dan pohon adalah bahwa hutan TERDIRI ATAS pohon-pohon. Maka, hubungan antara tembok dan salah satu kata pilihan adalah tembok TERDIRI ATAS salah satu pilihan jawaban tersebut. Jawaban yang benar adalah BATU BATA. Oleh karena itu pada jawaban pilihlah Batu bata.
                                </p>
                            </div>
                        </div>
                    </div>
            <hr />
                    <div class="card">
                        <div class="row" style="margin-left: 25px; margin-right: 25px; margin-top: 15px">
                            <div class="col-md-2 text-center" style="display: flex; flex-direction: column; justify-content: center;">
                                <div class="bg-primary p-2 rounded text-white">
                                    <!-- style="background-color: #5e6ee6;" -->
                                    <p class="card-text font-weight-bold">Contoh 2 </p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="text-left" style="display: flex; flex-direction: column; justify-content: center; align-items: left; height: 100%; font-size: 16px;">
                                        <strong>
                                            GELAP   :   TERANG = BASAH  :   ....
                                        </strong>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan2" id="hujan" value="Hujan">
                                            <label class="form-check-label" for="hujan">Hujan</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan2" id="hari" value="Hari">
                                            <label class="form-check-label" for="hari">Hari</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan2" id="lembab" value="Lembab">
                                            <label class="form-check-label" for="lembab">Lembab</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan2" id="angin" value="Angin">
                                            <label class="form-check-label" for="angin">Angin</label>
                                        </div>
                                        <div class="col form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="pilihan2" id="kering" value="Kering">
                                            <label class="form-check-label" for="kering">Kering</label>
                                        </div>
                                </div>
                                <div class="row">
                                    <p id="warningMessage2" style="color: red;display:none">Pilih <strong>Kering</strong></p>
                                </div>
                            </div>

                                <div class="col-md">
                                    <p>
                                        Gelap adalah LAWAN KATA dari Terang. Dengan demikian LAWAN KATA dari basah adalah salah satu dari lima pilihan yang ada. Pilihan yang benar adalah KERING, karena Basah adalah LAWAN KATA dari Kering. Oleh karena itu, pada jawaban pilihlah Kering.
                                     </p>
                                </div>
                </div>
                    </div>
            <hr />

                    <div>
                        <h5 style="text-align: center; color: #777;"><strong> Jika telah memahami cara menjawab, silahkan lanjut ke soal Subtes 3</strong> </h5>
                    </div>
            <div class="but-start-ist">
                <button id="startSubtest" class="btn btn-block btn-info btn-sm">Mulai Tes</button>
            </div>
                </div>
            </div>
        </div>

@section script {
    <script src="~/js/Participant/IST.js"></script>

    <script>
        $(document).ready(function () {
            $("input[name='pilihan1']").change(function () {
                var num = $("input[name='pilihan1']:checked").val();

                if (num.toLowerCase() === "batu bata") {
                    $("#warningMessage1").hide();
                } else {
                    $("#warningMessage1").show();
                }
            });
            $("input[name='pilihan2']").change(function () {
                var num = $("input[name='pilihan2']:checked").val();

                if (num.toLowerCase() === "kering") {
                    $("#warningMessage2").hide();
                } else {
                    $("#warningMessage2").show();
                }
            });


            function checkValue(inputName, expectedValue) {
                var inputValue = $("input[name='" + inputName + "']:checked").val() || "";
                return inputValue.toLowerCase() === expectedValue;
            }
            $("#startSubtest").click(function () {
                const isActiveSubtest = sessionStorage.getItem("indexSubtest");
                var targetUrl = `/dotest/StartTest/ist/subtes${isActiveSubtest}`;

                var inpVal1 = checkValue("pilihan1", "batu bata");
                var inpVal2 = checkValue("pilihan2", "kering");
                if (!inpVal1 && !inpVal2) {
                    $("#warningMessage1").show();
                    $("#warningMessage2").show();
                    return;
                }
                if (!inpVal1) {
                    $("#warningMessage1").show();
                    return;
                }
                if (!inpVal2) {
                    $("#warningMessage2").show();
                    return;
                }

                if (inpVal1 && inpVal2) {
                    window.location.href = targetUrl;
                    displaytest(testId, isActiveSubtest);
                }
            });
        });
    </script>
}
